<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Users Show</title>
        <style>
            .boxes{
                border:2px solid black;
                margin: 4px;
                height: 200px;
                width: 400px;
            }
        </style>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        
    </head>
    <body>
        <div class="container">
            <div class="float right">
                <a href="/dashboard">back</a> | <a href="/log_off">Logout</a>
            </div>
            <h1>Job: {{ job_dash.title }}</h1>
                <div class="boxes">
                    <p>{{ job_dash.description }}</p>
                    <br>Location: {{ job_dash.location }}
                    <br>Posted by: {{ job_dash.created_by.first_name }} {{ job_dash.created_by.last_name }}
                    <br>Posted on: {{ job_dash.created_at }}
                </div>
            <h5><a href="">Add to My jobs</a> </h5>
        </div>
    </body>
</html>